p {
    border: 8px solid pink;
    padding: 5px;
    margin: 5px;
    text-align: center; /* Eveything must be centered*/
}

a:link {
    color: green;
}

a:first-child{
    color: orange;
}

a:hover {
    color: red;
}